@model Aunt_Irma_Shop.Models.ViewModels.IndexViewModel
@using Aunt_Irma_Shop.Models.ViewModels

<br />
<br />

<div class="container" style="height:100%;">
    <div class="col-lg-2 float-lg-left p-3 ">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand">Category</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <ul id="shop-filters" class="nav navbar-nav">
                <li class="active text-dark nav-link filter" data-filter=".item-shop"><a class="active">Show All</a></li>
                @foreach (var category in Model.Category)
                {
                    <li class="dropdown  nav-link">
                        <a class="dropdown-toggle" data-toggle="dropdown">@category.Name <b class="caret"></b></a>
                        <ul class="dropdown-menu border-0">
                            @foreach (var subCategory in Model.SubCategory)
                            {
                                if (subCategory.CategoryId == category.Id)
                                {
                                    <li class="ml-1 mr-1" data-filter=".@category.Name.Replace(" ",string.Empty)@subCategory.Name.Replace(" ",string.Empty)">@subCategory.Name @category.Name</li>

                                };
                            }
                        </ul>
                    </li>
                }

            </ul>


        </nav>
    </div>

    <div class="col-lg-8 float-lg-right">



        @foreach (var subCategory in Model.SubCategory)
        {

            <div id="demo" class="row">

                <partial name="_ThumbnailAreaPartial" model="@Model.Item.Where(u => u.SubCategory.Id.Equals(subCategory.Id))" />
            </div>
        }





    </div>
</div>


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script>

        var posts = $('.post');

        (function ($) {

            $("#shop-filters li").click(function () {
                $("#shop-filters li").removeClass('active');
                $(this).addClass('active');

                var selectedFilter = $(this).data("filter");

                $(".item-shop").fadeOut();


                setTimeout(function () {
                    $(selectedFilter).slideDown();
                }, 300);
            });



        })(jQuery);
        
    </script>
}
